<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - figma</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css" />
    <link href="~/css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />

    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam:ital,wght@0,500;0,600;1,500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/fontawesome-pro-5.0.13/css/all.css">
    <link rel="stylesheet" href="~/vegas/vegas.css">
    <link rel="stylesheet" href="~/mmenu-js-master/dist/mmenu.css">
    <link rel="stylesheet" href="~/mmenu-light-master/dist/mmenu-light.css">
    <link rel="stylesheet" href="~/slick-1.8.1/slick/slick.css">
    <link rel="stylesheet" href="~/slick-1.8.1/slick/slick-theme.css">
    <link rel="stylesheet" href="~/WOW-master/css/libs/animate.css">
</head>
<body>
    <header>
        <div class="info">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-12 col- info-lucas hotline">
                        Hotline: 02466806611
                    </div>
                    <div class="col-lg-5 col-md-8 col-sm-8 col-12 info-lucas ship title-header text-right">
                        Freeship cho tất cả các đơn hàng giá trị trên 1.000.000 đ
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12 info-lucas linkFanpage d-none d-lg-block">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-4 title-header">
                                    Facebook
                                </div>
                                <div class="col-4 title-header">
                                    Twitter
                                </div>
                                <div class="col-4 title-header">
                                    Instagram
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <nav class=" shift menu-scroll navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand d-none d-lg-block" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/image/store_1556894301_675 1.png" />
                </a>
                <button href="#menu-hide" class="btn-show-mobile d-block d-lg-none" type="button">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="" id="menu-hide">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="text-header cool-link" asp-area="" asp-controller="Home" asp-action="Index">Trang chủ</a>
                        </li>
                        <li class="nav-item">
                            <a class=" text-header cool-link" asp-area="" asp-controller="Home" asp-action="Privacy">Sale</a>
                        </li>
                        <li class="nav-item">
                            <a class=" text-header cool-link" asp-area="" asp-controller="Home" asp-action="Privacy">Sản phẩm</a>
                            <ul class="menu-item-product">
                                <li><a class="" href="/about/history/">Áo</a></li>

                                <li><a class="" href="/about/team/">Quần</a></li>

                                <li><a class="" href="/about/address/">Phụ Kiện</a></li>

                                <li><a class="" href="/about/address/">111111111111111111</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class=" text-header cool-link" asp-area="" asp-controller="Home" asp-action="Review">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a class=" text-header cool-link" asp-area="" asp-controller="Home" asp-action="Privacy">Liên hệ</a>
                        </li>
                        <li class="nav-item">
                            <a class=" text-header cool-link" asp-area="" asp-controller="Home" asp-action="Privacy">Tuyển dụng</a>
                        </li>
                        <li class="nav-item">
                            <a class=" text-header cool-link" asp-area="" asp-controller="Home" asp-action="Privacy">Bộ sưu tập</a>
                        </li>

                    </ul>
                </div>
                <div class="icon-header">
                    <div class="d-flex">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z" />
                            <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z" />
                        </svg>
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-people" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1h8zm-7.995-.944v-.002.002zM7.022 13h7.956a.274.274 0 0 0 .014-.002l.008-.002c-.002-.264-.167-1.03-.76-1.72C13.688 10.629 12.718 10 11 10c-1.717 0-2.687.63-3.24 1.276-.593.69-.759 1.457-.76 1.72a1.05 1.05 0 0 0 .022.004zm7.973.056v-.002.002zM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0zM6.936 9.28a5.88 5.88 0 0 0-1.23-.247A7.35 7.35 0 0 0 5 9c-4 0-5 3-5 4 0 .667.333 1 1 1h4.216A2.238 2.238 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816zM4.92 10c-1.668.02-2.615.64-3.16 1.276C1.163 11.97 1 12.739 1 13h3c0-1.045.323-2.086.92-3zM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0zm3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4z" />
                        </svg>
                        <i class="far fa-heart"></i>
                        <a class="cart-count" asp-action="Cart" asp-controller="Home">

                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-cart4" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l.5 2H5V5H3.14zM6 5v2h2V5H6zm3 0v2h2V5H9zm3 0v2h1.36l.5-2H12zm1.11 3H12v2h.61l.5-2zM11 8H9v2h2V8zM8 8H6v2h2V8zM5 8H3.89l.5 2H5V8zm0 5a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z">

                                </path>

                            </svg>
                            <div class="text-center text-white bg-danger pb-2">12</div>
                        </a>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    @*phone*@
    <div class="hotline-phone-ring-wrap">
        <div class="hotline-phone-ring">
            <div class="hotline-phone-ring-circle"></div>
            <div class="hotline-phone-ring-circle-fill"></div>
            <div class="hotline-phone-ring-img-circle">
                <a href="tel:0987654321" class="pps-btn-img">
                    <img src="https://nguyenhung.net/wp-content/uploads/2019/05/icon-call-nh.png" alt="Gọi điện thoại" width="50">
                </a>
            </div>
        </div>
        <div class="hotline-bar">
            <a href="tel:0987654321">
                <span class="text-hotline">0987.654.321</span>
            </a>
        </div>
    </div>

    <script src="~/mmenu-light-master/dist/mmenu-light.js"></script>
    @*<script src="~/mmenu-js-master/dist/mmenu.js"></script>*@
    <script>
        document.addEventListener(
            "DOMContentLoaded", () => {
                const menu = new MmenuLight(
                    document.querySelector("#menu-hide"),
                    "(max-width: 992px)"
                );
                const navigator = menu.navigation({

                });
                const drawer = menu.offcanvas();

                document.querySelector("button[href='#menu-hide']")
                    .addEventListener("click", (evnt) => {
                        evnt.preventDefault();
                        drawer.open();
                    });
            }
        );
    </script>
    <div class="container-fluid p-0">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    @*<partial name="Social.cshtml" />*@
    <footer class="">
        <div class="container">
            <div class="row">
                <div class="col-xl-3  col-lg-6 col-md-6 col-sm-6 col-12 info-lucas">
                    <h4>
                        <img src="~/image/logo lucas-01 1.png" />
                    </h4>
                    <div class="info-fanpage mb-4 text-white">
                        Enjoy shopping with us:<br />

                        <i class="fas fa-long-arrow-alt-right border border-primary bg-primary mr-1 mt-4"></i> INSTAGRAM : Lucas58.official <br />
                        <i class="fas fa-long-arrow-alt-right border border-primary bg-primary mr-1 mt-4"></i> SHOPEE : Lucas58𝐋𝐮𝐜𝐚𝐬𝟓𝟖 <br />
                        <i class="fas fa-long-arrow-alt-right border border-primary bg-primary mr-1 mt-4"></i> ️WEB : Lucas58.com.vn<br />
                    </div>
                    <div class="info-icon">
                        <i class="fab fa-facebook-f"></i>
                        <i class="fab fa-twitter"></i>
                        <i class="fab fa-google-plus-g"></i>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12 info-lucas">
                    <h4 class="text-white">
                        LIÊN HỆ
                    </h4>
                    <div class="info-fanpage container mt-4 text-white">
                        <div class="row">
                            <div class="col-1">
                                <i class="fas fa-home">
                                </i>
                            </div>
                            <div class="col-9 content-main-fanpage">
                                <div>📍 168 Nguyễn Thái Học, Ba Đình, Hà Nội ( Bến Xe Kim Mã )</div>
                                <div>📍 96 Bùi Thị Xuân, Hai Bà Trưng, Hà Nội</div>
                                <div> 📍 177 Cầu Giấy, Cầu Giấy, Hà Nội (Bưu Điện Cầu Giấy )</div>
                            </div>
                        </div>
                    </div>
                    <div class="icon icon-phone-number text-white">
                        <i class="fas fa-phone-volume"></i>
                        <span>0982901212</span>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12 info-lucas">
                    <h4 class="text-white">
                        LINKS NHANH
                    </h4>
                    <div class="info-fanpage mt-4 text-white">
                        <ul class="list-group">
                            <li>
                                <a>
                                    Trang chủ
                                </a>
                            </li>
                            <li>
                                <a>
                                    Sản phẩm
                                </a>
                            </li>
                            <li>
                                <a>
                                    Blog
                                </a>
                            </li>
                            <li>
                                <a>
                                    Liên hệ
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12 info-lucas">
                    <h4 class="text-white">
                        FACEBOOK FANPAGE
                    </h4>
                    <img class="mt-4" src="~/image/Rectangle 15.png" />

                </div>
            </div>
        </div>
    </footer>

    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="~/vegas/vegas.js"></script>
    <script type="text/javascript" src="~/slick-1.8.1/slick/slick.js" charset="utf-8"></script>
    <script type="text/javascript" src="~/WOW-master/dist/wow.min.js" charset="utf-8"></script>
    <script src="~/less.js-master/dist/less.js" data-poll="1000" data-relative-urls="false"></script>
    <script type="text/javascript" src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
