
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

    <div class="float-contact mb-5">
        <button class="chat-zalo">
            <a href="http://zalo.me/0867592210">Chat Zalo</a>
        </button>
        <button class="chat-face">
            <a href="http://m.me/moosun.vn">Chat Facebook</a>
        </button>
        <button class="hotline">
            <a href="tel:0867592210">Hotline: 0867592210</a>
        </button>
    </div>
