
@{
    ViewData["Title"] = "ConfirmEmail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Chúng tôi đã gửi link xác nhận tài khoản qua Email:@ViewBag.email, xin bạn vui lòng mở Email và xác nhận nha, xin cảm ơn !</h1>

