@model figma.Models.Members
@{
    ViewData["Title"] = "EmailConfirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    if (Model.ConfirmEmail)
    {
        <h1>Xác nhận email thành công, xin bạn vui lòng đăng nhập !</h1>
    }
    else
    {
        <h1>Xác nhận email thất bại, xin bạn vui lòng thử lại !</h1>
    }
}

