@model IEnumerable<figma.Models.Order>
@{
    ViewData["Title"] = "Tra cứu thông tin đơn hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .table tr td, .table tr th {
        text-align: center;
    }

    .table-bordered tr th {
        background: #f6f6f6;
        color: #333;
    }

    .table-bordered thead td, .table-bordered thead th {
        border-bottom-width: 2px;
    }

    .table thead th {
        vertical-align: bottom;
        border-bottom: 2px solid #dee2e6;
    }

    .table-bordered td, .table-bordered th {
        border: 1px solid #dee2e6;
    }

    .table td, .table th {
        padding: .75rem;
        vertical-align: top;
        border-top: 1px solid #dee2e6;
    }
</style>
<div id="layout-page" class="pd40 search-page">
    <div class="container">
        <div id="PageContainer" class="is-moved-by-drawer">
            <main class="main-content" role="main">
                <section id="page-wrapper">
                    <div class="wrapper">
                        <div id="pfView" class="orderView">

                            <div class="row text-center">
                                <div class="col-12">
                                    <h1 style="margin: 20px 0 15px 0;">Tra cứu đơn hàng</h1>
                                </div>

                                <form class="form-inline col-lg-9 col-12 mx-auto" id="frmIndexOrder" asp-action="OrderDetails">
                                    <div class="form-groups txtFill col-lg-9 col-md-8 col-9" style="padding-right: 0;">
                                        <input type="text" class="form-control" name="search" placeholder="Nhập mã số điện thoại hoặc email hoặc mã đơn hàng" style="height:35px;width: 100%; border-radius: 0;">
                                    </div>
                                    <div class="form-groups col-lg-3 col-md-4 col-3" style="padding-left: 0; text-align: left">
                                        <button type="submit" class="btn btn-danger btn-research" style="height:35px;border-radius: 0; padding: 6px 10px;">Kiểm tra</button>
                                    </div>
                                </form>
                            </div>
                            <br>
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>Mã đơn hàng</th>
                                            <th>Tên khách hàng</th>
                                            <th>Tổng tiền thanh toán</th>
                                            <th>Trạng thái đơn hàng</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        @if (Model != null)
                                        {
                                            @foreach (var item in Model.Where(a => a.MaDonHang != null))
                                            {
                                                <tr>
                                                    <td>@item.MaDonHang</td>
                                                    <td>@item.Fullname</td>
                                                    <td>
                                                        @if (item.OrderDetails.Sum(a => a.Price) > 500000)
                                                        {
                                                            <label>@item.OrderDetails.Sum(a => a.Price).ToString("0,0", CultureInfo.CreateSpecificCulture("el-GR")) vnđ</label>
                                                        }
                                                        else
                                                        {
                                                            decimal price = item.OrderDetails.Sum(a => a.Price) + 30000;
                                                            <label>@price.ToString("0,0", CultureInfo.CreateSpecificCulture("el-GR")) vnđ</label>

                                                        }
                                                    </td>
                                                    <td>
                                                        @{
                                                            switch (item.Status)
                                                            {
                                                                case 0:
                                                                    <label>
                                                                        Đang xử lý
                                                                    </label>
                                                                    break;
                                                                case 1:
                                                                    <label>
                                                                        Đang giao hàng
                                                                    </label>
                                                                    break;
                                                                case 3:
                                                                    <label>Hủy đơn</label>
                                                                    break;
                                                            }

                                                        }
                                                    </td>
                                                </tr>
                                            }
                                        }
                                        else
                                        {
                                            <tr><td colspan="5" style="padding:20px; color: #f04e99;text-align: center">Không tìm thấy đơn hàng theo yêu cầu.</td></tr>
                                        }
                                    </tbody>
                                </table>
                                @if (Model != null)
                                {
                                    <div id="noteStatus">
                                        <p><b><i class="fa fa-2x fa-lightbulb-o" style="color: #f37021"></i> Chú thích trạng thái đơn hàng:</b></p>
                                        <p><b>- "Đang xử lí":</b> Chúng tôi đang trong quá trình liên hệ bạn để xác nhận đơn hàng. </p>
                                        <p><b>- "Đang giao hàng":</b> Hãng vận chuyển đang trong quá trình xử lý và giao hàng cho bạn đó.</p>
                                        <p><b>- "Hủy đơn":</b>  Đơn hàng của bạn đã bị hủy. </p>
                                        @*<p><b>- "Đang đóng gói":</b> Chúng tôi đang tiến hành đóng gói và gửi hàng cho bạn.</p>
                                            <p><b>- "Chờ đi nhận":</b> Hãng vận chuyển đang tới lấy hàng, khi nào hãng lấy hàng xong sẽ có mã bưu phẩm cho bạn kiểm tra lịch trình.</p>
                                            <p><b>- "Đang chuyển":</b> Hãng vận chuyển đang trong quá trình xử lý và giao hàng cho bạn đó.</p>
                                            <p><b>- "Thất bại":</b> Bưu tá phát đến địa chỉ khách hàng nhưng thất bại do không liên lạc được với bạn/ không tìm thấy địa chỉ.</p>
                                            <p><b>- "Đang chuyển hoàn/ Đã chuyển hoàn":</b> Đơn hàng sau 3 lần phát không thành công, sẽ hoàn về cho chúng tôi.</p>
                                            <p><b>- "Thành công":</b> Bạn đã nhận được hàng rồi, đừng quên góp ý cho chúng tôi về đơn hàng của bạn nhé.</p>*@
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </section>
            </main>
        </div>
    </div>
</div>

