@model figma.Controllers.HomeController.PasswordEmailSend
@{
    ViewData["Title"] = "PasswordEmail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-10">
            <form asp-action="PasswordEmail">
                <h3>Xin bạn vui lòng nhập Email cần lấy lại mật khẩu nha !</h3>
                <div class="form-group">
                    <label asp-for="email" class="control-label"></label>
                    <input asp-for="email" class="form-control" />
                    <span asp-validation-for="email" class="text-danger"></span>
                </div>
                <div class="form-group d-flex justify-content-between">
                    <div class="form-group">
                        <input type="submit" value="Gửi" class="btn btn-primary" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>



