
@{
    ViewData["Title"] = "UserAccessDenied";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>UserAccessDenied</h1>
<p>Quay lại trang chủ <a asp-action="Index" asp-controller="Home">Home</a></p>

