@model figma.Models.Article

@{
    ViewData["Title"] = "AticleCreate";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Bài viết</h1>
@{
    if (TempData["result"] != null)
    {
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            Message: @TempData["result"]
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
}
<hr />


<form asp-controller="Csm" asp-action="createImage" enctype="multipart/form-data" onchange="AJAXSubmitCreateOne(this,100,100);return false;" method="post">
    <div class="form-group bg-white font-weight-bold">
        <div class="section-image-title d-flex justify-content-between">
            <p class="text-danger mt-3 mb-1">Ảnh bài viết</p>
            <span asp-validation-for="Image" class="text-danger"></span>

            <div class="m-3 ml-1">
                <a class="">
                    <input id="filesadd" accept="image/*" name="filesadd" type="file"/>
                </a>
                <script>
                </script>
            </div>
        </div>
        <div class="section-image-list insert-two container">
            <div class="row">
            </div>
        </div>
    </div>
</form>
<div class="">
    <form asp-action="AticleCreate">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group w-25">
            <label asp-for="ArticleCategoryId" class="control-label"></label>
            <select asp-for="ArticleCategoryId" class="form-control" asp-items="ViewBag.ArticleCategorieId">
            </select>
            <span asp-validation-for="ArticleCategoryId" class="text-danger"></span>
        </div>
        <div class="form-group w-50">
            <label asp-for="Subject" class="control-label"></label>
            <input asp-for="Subject" class="form-control" />
            <span asp-validation-for="Subject" class="text-danger"></span>
        </div>
        <div class="form-group d-none">
            <label asp-for="Image" class="control-label"></label>
            <input type="hidden" asp-for="Image" class="form-control" />
            <span asp-validation-for="Image" class="text-danger"></span>
        </div>
        <div class="form-group w-75">
            <label asp-for="Description" class="control-label"></label>
            <input asp-for="Description" class="form-control" style="height:150px" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group bg-white">
            <label asp-for="Body" class="control-label"></label>
            <div id="toolbar-container"></div>
            <div id="editor" class="bg-white"></div>

            <input type="hidden" asp-for="Body" class="form-control" />
            <script>
                var h = '' + $("#Body").val() + '';

            </script>
            <span asp-validation-for="Body" class="text-danger"></span>
        </div>

        <div class="form-group form-check">
            <label class="form-check-label">
                <input class="form-check-input" asp-for="Home" /> @Html.DisplayNameFor(model => model.Home)
            </label>
        </div>
        <div class="form-group form-check">
            <label class="form-check-label">
                <input class="form-check-input" asp-for="Active" /> @Html.DisplayNameFor(model => model.Active)
            </label>
        </div>

        <div class="form-group w-75">
            <label asp-for="TitleMeta" class="control-label"></label>
            <input asp-for="TitleMeta" class="form-control" />
            <span asp-validation-for="TitleMeta" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="DescriptionMeta" class="control-label"></label>
            <input asp-for="DescriptionMeta" class="form-control" style="height:200px" />
            <span asp-validation-for="DescriptionMeta" class="text-danger"></span>
        </div>
        <div class="form-group text-center">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </form>
</div>


