@model figma.Models.Collection

@{
    ViewData["Title"] = "ListCollection";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Bộ sưu tập</h1>

<hr />


<form asp-controller="Csm" asp-action="createImage" enctype="multipart/form-data" onchange="AJAXSubmitCreateOneT(this,100,100);return false;" method="post">
    <div class="form-group bg-white font-weight-bold">
        <div class="section-image-title d-flex justify-content-between">
            <p class="text-danger mt-3 mb-1">Ảnh đại diện</p>
            <span asp-validation-for="Image" class="text-danger"></span>

            <div class="m-3 ml-1">
                <a class="">
                    <input id="filesadd" accept="image/*" name="filesadd" type="file" />
                </a>
                <script>
                </script>
            </div>
        </div>
        <div class="section-image-list insert-two container">
            <div class="row">
            </div>
        </div>
    </div>
</form>
<hr />
<form asp-action="ListCollection">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group w-50">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group w-25">
        <label asp-for="Description" class="control-label"></label>
        <input asp-for="Description" class="form-control" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group d-none">
        <label asp-for="Content" class="control-label"></label>
        <input asp-for="Content" value="not input" class="form-control" />
        <span asp-validation-for="Content" class="text-danger"></span>
    </div>
    <div class="form-group d-none">
        <label asp-for="Image" class="control-label"></label>
        <input asp-for="Image" class="form-control" />
        <span asp-validation-for="Image" class="text-danger"></span>
    </div>
    <div class="form-group bg-white">
        <label asp-for="Body" class="control-label"></label>
        <div id="Body"></div>
        <input type="hidden" asp-for="Body" class="form-control" />
        <span asp-validation-for="Body" class="text-danger"></span>
    </div>
    <div class="form-group w-25">
        <label asp-for="Quantity" class="control-label"></label>
        <input asp-for="Quantity" class="form-control" />
        <span asp-validation-for="Quantity" class="text-danger"></span>
    </div>
    <div class="form-group w-25">
        <label asp-for="Factory" class="control-label"></label>
        <input asp-for="Factory" class="form-control" />
        <span asp-validation-for="Factory" class="text-danger"></span>
    </div>
    <div class="form-group w-25">
        <label asp-for="Price" class="control-label"></label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <div class="form-group w-25">
        <label asp-for="Sort" class="control-label"></label>
        <input asp-for="Sort" class="form-control" />
        <span asp-validation-for="Sort" class="text-danger"></span>
    </div>
    <div class="form-group form-check">
        <label class="form-check-label">
            <input class="form-check-input" asp-for="Hot" /> @Html.DisplayNameFor(model => model.Hot)
        </label>
    </div>
    <div class="form-group form-check">
        <label class="form-check-label">
            <input class="form-check-input" asp-for="Home" /> @Html.DisplayNameFor(model => model.Home)
        </label>
    </div>
    <div class="form-group form-check">
        <label class="form-check-label">
            <input class="form-check-input" asp-for="Active" /> @Html.DisplayNameFor(model => model.Active)
        </label>
    </div>
    <div class="form-group w-50">
        <label asp-for="TitleMeta" class="control-label"></label>
        <input asp-for="TitleMeta" class="form-control" />
        <span asp-validation-for="TitleMeta" class="text-danger"></span>
    </div>

    <div class="form-group form-check d-none">
        <label class="form-check-label">
            <input class="form-check-input" value="true" asp-for="StatusProduct" /> @Html.DisplayNameFor(model => model.StatusProduct)
        </label>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>


