@model figma.Models.Size

@{
    ViewData["Title"] = "SizeCreate";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Tạo Size</h1>

<h4>Size</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SizeCreate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SizeProduct" class="control-label"></label>
                <input asp-for="SizeProduct" class="form-control" />
                <span asp-validation-for="SizeProduct" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="SizeIndex">Back to List</a>
</div>

