@model figma.Models.TagProducts

@{
    ViewData["Title"] = "SpecialCategoryProductsDelete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Bạn có muốn xóa ?</h1>


<div>
    <a class="btn btn-danger" onclick="deleteArtCategory('@ViewBag.id1','@ViewBag.id2')">Xóa</a>
</div>
<script>
    function deleteArtCategory(id1,id2) {
        if (confirm("Bạn có chắc chắn xóa nhóm này không?")) {
            $.post("/Csm/SpecialCategoryProductsDeleteConfirmed", { id1: id1,id2:id2 }, function (data) {
                if (data) {
                    if (confirm("Xóa nhóm thành công"))
                        window.location.assign('/Csm/SpecialCategoryProducts')
                } else {
                    alert("Quá trình thực hiện không thành công. Hãy thử lại");
                }
            });
        }
    }
</script>
