@model figma.ViewModel.AccountViewModel
    <div class="row style_add d-block">
        <div class="title_address">
            <h3>
                Đơn hàng của tôi
            </h3>
        </div>
        <div class="col-xs-12 customer-table-wrap" id="customer_orders">
            <div class="customer_order customer-table-bg">

                <p>Bạn chưa đặt mua sản phẩm</p>

            </div>
        </div>
    </div>
