@model figma.Models.ProductSizeColor

@{
    ViewData["Title"] = "CreateSC";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<h3>Thêm Size và Color</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateSCC">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProductID" class="control-label"></label>
                <input asp-for="ProductID" class="form-control" value="@ViewBag.IdSP"/>
                <span asp-validation-for="ProductID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ColorID" class="control-label">Màu sắc</label>
                <select asp-for="ColorID" class ="form-control" asp-items="ViewBag.ColorID"></select>
            </div>
            <div class="form-group">
                <label asp-for="SizeID" class="control-label">Size</label>
                <select asp-for="SizeID" class ="form-control" asp-items="ViewBag.SizeID"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


